{%include 'heading.html'%}
{%load static%}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">

</head>

<body>
    <form method="POST" enctype="multipart/form-data">

        {%csrf_token%}

        <table border="1" class="table table-striped">
            <tr>
                <td colspan="2" style="text-align: center;">
                    <h3>Update Student</h3>
                </td>
            </tr>

            {{form.as_table}}
            <tr>
                <td align="right"></td>

                <td><input type="submit" value="Update" class="btn btn-primary">
                    <input type="reset" value="Clear" class="btn btn-secondary">
                </td>
            </tr>
        </table>
    </form>


</body>

</html>