{%include 'heading.html'%}
{%load static%}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'css/style.css'%}">

</head>

<body>
  {%block body%}
  {%if slist%}
  <h4 style="text-align: center; margin-top: 10px;">All Student</h4>
  <table border="1" class="table table-hover table-striped">
    
    
    <tr>
      <thead class="table-secondary" style="text-align: center;">
      <th>SR. No.</th>
      <th>Student Id</th>
      <th>Student Name</th>
      <th>Student Department</th>
      <th>Student Email</th>
      <th>Student Mobile</th>
      <th>Student Address</th>

      <th colspan="2">Action</th>
    </thead>
    </tr>


 
    {%for i in slist%}

    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.student_id}}</td>
      <td>{{i.student_name}}</td>
      <td>{{i.student_department}}</td>
      <td>{{i.student_email}}</td>
      <td>{{i.student_mobile}}</td>
      <td>{{i.student_address}}</td>

      <td><a href="edit_student/{{i.id}}">Edit</a></td>
      <td><a href="delete_student/{{i.id}}">Delete</a></td>
    </tr>
    {%endfor%}
</table>



{%else%}
<h3 align="center">No Student Available...</h3>
{%endif%}
{%endblock%}
</body>

</html>